/* Search field styles */
.search-field:after, .search-field:before{content:"";display:table;clear:both}
.search-field{
    padding: 8px;
    margin: 0 auto;
    horiz-align: center;
    vertical-align: middle;

    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:90%}

.image-holder {
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Icon"; }
    td:nth-of-type(2):before { content: "Team Name"; }
    td:nth-of-type(3):before { content: "Position"; }
    td:nth-of-type(4):before { content: "Points"; }
    td:nth-of-type(5):before { content: "Played Games"; }
    td:nth-of-type(6):before { content: "Wins"; }
    td:nth-of-type(7):before { content: "Losses"; }
    td:nth-of-type(8):before { content: "Draws"; }
    td:nth-of-type(9):before { content: "Goals"; }
    td:nth-of-type(10):before { content: "Goals Against"; }
    td:nth-of-type(11):before { content: "Goals Difference"; }

    .image-holder {
        background-size: cover;
        background-position: center center;
        height: 100px;
        width: 100px;
    }
}
